/* Cool cat pic */
img {
    width:250px;
}

/* MUI card displaying the submit confirmation */
#submit-card {
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}